# Copy to .env (gitignored) and adjust as needed. Read by docker-compose

MONGO_URL=
INTERNAL_JWT_SECRET=...
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest

# storage
R2_ACCOUNT_ID=
R2_BUCKET_NAME=
R2_ACCESS_KEY_ID=
R2_PUBLIC_BASE_URL=
R2_SECRET_ACCESS_KEY=

# mail
RESEND_API_KEY=
RESEND_FROM=